/* @import "tailwindcss"; */

.global-color{
  background-color: bisque;
}

.active-link{
  color: green;
}

.notactive-link{
  color: gray;
}
.font-roboto{
  font-family: var(--font-roboto);
  font-size: 50px;
}